// main: style.less

@import "vars";
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

body {
  font-family: @font-secondary;

}

p {
  line-height: 1.8;
  font-weight: 300;
}

a {
  font-weight: 700;
  text-decoration: none;
  color: @primary;
  transition: @transition;

  &:hover {
    color: @primary-medium;
  }


}

strong {
  font-weight: 600;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: @font-primary;
  font-weight: 400;
}

.container-fluid-custom {
  padding-left: 80px;
  padding-right: 80px;

  @media @breakpoint-tablet-xl {
    padding-left: 24px;
    padding-right: 24px;
  }

  @media @breakpoint-mobile {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.bg-custom-light {
  background-color: @primary-light;
}


.bg-custom-primary {
  background-color: @primary;

  .title-wrap {
    color: @white;
  }
}

.btn-custom {
  padding: 12px 20px 12px 20px;
  border-radius: @border-radius-sm;
  transition: @transition;
  font-family: @font-secondary;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.4px;
  flex-shrink: 0;
  display: inline-flex;
  align-items: center;
  gap: 4px;
  text-transform: uppercase;
  letter-spacing: 0.64px;

  &:hover {
    opacity: .8;
  }

  @media @breakpoint-tablet-xl {
    font-size: 14px;
  }

  @media @breakpoint-mobile {
    font-size: 14px;
  }

  &:hover {
    opacity: .9;
  }



  &.btn-custom__primary {
    color: @white;
    background-color: @primary;
    transition: @transition;

  }

  &.btn-custom__primary-reverse {
    color: @primary;
    background-color: @white;
    transition: @transition;
  }

  &.btn-custom__outline__primary {
    background-color: transparent;
    color: @primary;
    border: 1px solid @primary;

    &:hover {
      color: @white;
      background-color: @primary;
    }
  }

  &.btn-text {
    color: @primary;
    font-family: @font-secondary;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    /* 25.2px */
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 10px 0;

    img {
      margin-bottom: 0;
    }

    &:hover {
      border-color: transparent;
      opacity: 0.8;
    }

    &:active {
      border: 0;
    }
  }



  &.btn-custom__outline-reverse {
    background-color: transparent;
    color: @white;
    border: 1px solid @white;

    &:hover {
      color: @primary;
      background-color: @white;
    }
  }
}

.btn-outline-light {
  .bi-search {
    &::before {
      color: @primary;
    }
  }
}

.btn-img {
  position: relative;
  display: inline-flex;
  align-items: center;
  gap: 12px; // запас для отступа от текста
  padding-right: 44px; // место под иконку
  color: inherit;

  &::after {
    content: '';
    display: inline-block;
    width: 18px;
    height: 14px;
    color: inherit;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='18' height='14' viewBox='0 0 18 14' fill='none'><path d='M1.5 7H16.0833H1.5Z' stroke='%238D644B'/><path d='M1.5 7H16.0833' stroke='%238D644B' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/><path d='M10.6665 12.8334L16.4998 7.00008L10.6665 1.16675' stroke='%238D644B' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/></svg>");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
  }

  &.btn-custom__primary,
  &.btn-custom__outline-reverse {
    &::after {
      background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='18' height='14' viewBox='0 0 18 14' fill='none'><path d='M1.5 7H16.0833H1.5Z' fill='white'/><path d='M1.5 7H16.0833' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/><path d='M10.6665 12.8334L16.4998 7.00002L10.6665 1.16669' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/></svg>");
    }
  }

}


.navbar-main-custom {


  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  background-color: transparent;
  background-color: @primary-shade;

  &.scrolled {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
}

.navbar {
  .navbar-brand {
    color: @text;
    font-family: @font-primary;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -4px;
    margin-bottom: 0;
    margin-right: 0;
    letter-spacing: .2px;
    text-align: center;


    img {
      width: 240px;
      margin-right: 12px;

      @media @breakpoint-mobile {
        width: 220px;
      }
    }

    p {
      border-top: 2px solid #1D306A;
      text-align: center;

      font-size: 12px;
      font-style: normal;
      font-weight: 600;
      line-height: 160%;
      /* 22.4px */
      padding-top: 4px;
      margin-bottom: 0;
      letter-spacing: 0;
    }


    @media @breakpoint-tablet {
      font-size: 40px;
      letter-spacing: -2px;
    }

    @media @breakpoint-mobile {
      font-size: 28px;
      letter-spacing: 0;
    }

    span {
      background: @primary;
      padding: 4px 16px 0px;
      font-size: 34px;

      @media @breakpoint-tablet {
        font-size: 26px;
      }

      @media @breakpoint-mobile {
        font-size: 20px;
      }
    }

  }

  .navbar-custom {

    .navbar-nav {
      align-items: center;

      @media @breakpoint-tablet-xl {
        justify-content: space-around;
        height: 100%;
      }


    }

    @media @breakpoint-tablet-min {
      width: 100% !important;
      padding: 0 24px 0 24px;
      justify-content: center;

      @media @breakpoint-laptop {
        padding: 0 12px 0 12px;
      }

    }

    .offcanvas-body {
      @media @breakpoint-tablet-xl {
        justify-content: center;
        width: 100%;
      }
    }

    .nav-item {
      &.nav-secondary {
        .nav-link {
          color: @text;
          font-size: 22px;
        }
      }

      .nav-link {
        color: @text;
        font-family: @font-secondary;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 1;
        /* 18px */
        letter-spacing: 0.36px;
        text-transform: uppercase;
        padding-left: 20px;
        padding-right: 20px;

        @media @breakpoint-laptop {
          font-size: 12px;
          padding-left: 12px;
          padding-right: 12px;
        }

        @media @breakpoint-tablet-xl {
          padding: 16px;
        }

        &:hover {
          color: @primary;
        }
      }


    }

    input[type="search"] {
      border-color: #B5B5B5;
      border-right-color: transparent;
    }

    .input-group-search {
      button {
        border-color: #B5B5B5;
        border-left-color: transparent;

        img {
          opacity: .6;
        }

        &:hover {
          background-color: transparent;

          img {
            opacity: 1;
          }

        }
      }

    }

    .btn {
      margin-left: 12px;
    }
  }

  .navbar-lang {
    .nav-item {

      .nav-link {
        padding-left: 4px;
        padding-right: 4px;
      }
    }
  }
}

.navbar-lang {

  @media @breakpoint-tablet-xl {
    flex-direction: row;
    justify-content: center !important;
    height: auto !important;
  }

  .nav-item {
    position: relative;
    display: flex;
    align-items: center;

    &:not(:last-child)::after {
      content: '/';
      margin-left: 4px;
      margin-right: 4px;
      color: @text; // или другой цвет, если нужен
    }
  }

  .nav-link {
    padding: 0;
    font-family: @font-secondary;
    font-size: 14px;
    color: @text;
    text-transform: uppercase;
    text-decoration: none;

    &.active {
      font-weight: bold;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}



.alert-custom {
  background-color: @dark;
  color: @white;
  border-radius: 0;
  border: 0;
  color: @white;
  margin-bottom: 0;
  color: var(--White, #FFF);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  /* 32px */
  letter-spacing: 1.6px;
  text-transform: uppercase;

  a {
    color: @primary;
  }

  .btn-close {
    background-image: url(..//img/icon-cross.svg);
  }
}


// Custom Menu Dropdown

@desktop: 1200px;
@tablet: 1199px;

/* Меню dropdown на больших экранах */
@media (min-width: @desktop) {
  .navbar-expand-xl .navbar-nav .dropdown-menu {
    top: 32px;
  }
}

.dropdown-menu {
  &.show {
    display: flex;
  }

}

/* Для десктопа: показываем dropdown при наведении */
@media (min-width: @tablet) {
  .nav-item.dropdown:hover .dropdown-menu {
    display: flex;
    border: 1px solid @neutral;
  }

  .dropdown-toggle-custom {
    pointer-events: none; // Делаем стрелку некликабельной на десктопе

  }
}

.dropdown-item.active,
.dropdown-item:active {
  color: @primary;
  background-color: transparent;
}

/* Стрелка для dropdown */
.dropdown-toggle-custom {
  border: none;
  background: none;
  padding: 0;
  margin-left: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;

  svg {
    width: 12px;
    height: 12px;
  }
}

/* Для мобильных: стрелка кликабельная */
@media (max-width: @desktop) {
  .dropdown-toggle-custom {
    pointer-events: auto; // Активируем кликабельность
    width: 44px;
    height: 44px;
  }

  .navbar-nav .dropdown-menu {
    flex-direction: column;
    width: 100%;
  }
}

/* Отступ для ссылки внутри dropdown */
.dropdown .nav-link {
  padding-right: 4px !important;
}

/* Стили для пунктов выпадающего меню */
.dropdown-item {
  font-weight: 600;
}



.navbar-main-custom {
  @media @breakpoint-tablet-min {
    padding-left: 24px;
    padding-right: 24px;
  }
}

.dropdown-menu {

  flex-wrap: wrap;
  width: 540px;
  /* Настроить ширину */
  border: none;
  box-shadow: none;
  padding: 0;
  background: #fff;
}

.dropdown-menu li {
  flex: 1 1 50%;
  /* Два столбца */
  list-style: none;
  border-bottom: 1px solid #eee;
  /* Разделение строк */
  padding: 8px 12px;
  transition: background 0.3s ease;

}

.dropdown-menu li a {
  text-decoration: none;
  color: #000;
  display: block;
  padding: 4px 0;
  font-weight: 400;
  white-space: pre-wrap;

  &:hover {
    background-color: transparent;
  }

  @media @breakpoint-tablet {
    text-align: center;
  }

}

/* Эффект при наведении */
.dropdown-menu li:hover {
  border-bottom: 1px solid @primary;
}

.dropdown-menu li:hover a {

  color: @primary;
  /* Выделение текста */
}

@media @breakpoint-tablet-xl {
  .dropdown {
    flex-wrap: wrap;
  }

  .dropdown-menu li {
    flex: 1 1 100%;
    border-bottom: 1px solid #eee;
    padding: 12px 16px;
  }

  .dropdown-menu li a {
    text-align: center;
  }

  .dropdown-toggle-custom {
    pointer-events: auto;
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}


.title-wrap {
  text-align: center;
  margin-bottom: 32px;

  a {
    color: @primary;

    &:hover {
      color: @primary-medium;
    }
  }
}

.block-title {
  font-family: @font-primary;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 42px */
  letter-spacing: 4.76px;
  text-transform: uppercase;
}

.section-custom-title {
  display: flex;
  align-items: flex-end;
  gap: 12px;
  margin-bottom: 16px;

  &.section-custom-title-sm {
    margin-bottom: 8px;

    h3 {
      font-size: 16px;

    }
  }

  hr {
    width: 100%;
  }

  h1,
  h2,
  h3,
  h4 {
    font-family: @font-primary;
    white-space: nowrap;
  }

  h1 {
    font-size: 26px;
  }

  &.article-section-custom-title {
    flex-direction: column;
    align-items: center;

    h1 {
      font-family: @font-primary;
      text-align: center;
      width: 100%;
      white-space: normal;
    }

    .socials {
      padding: 4px 0;

      h4 {
        font-size: 14px;
      }
    }

  }
}

.video-wrapper {
  position: relative;

  &.playing:hover {
    #pauseButton {
      display: block;
      pointer-events: auto;
    }
  }
}

.video-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: none;
  border: none;
  cursor: pointer;
  z-index: 10;
  transition: opacity 0.3s ease;

  svg {
    width: 128px;
    height: 127px;
  }
}

#pauseButton {
  display: none;
  pointer-events: none;
}

.video-overlay-button {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

.hero {
  background-color: @primary-shade;

  .row {
    align-items: center; // вертикальное выравнивание текста по центру относительно изображения
  }

  .hero-title {
    color: @text;
    font-family: @font-primary;
    font-size: 44px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; // 75px
    letter-spacing: 8.5px;
    text-transform: uppercase;
    margin-bottom: 24px;

    @media @breakpoint-laptop {
      font-size: 38px;
      letter-spacing: 6px;
    }

    @media @breakpoint-tablet {
      font-size: 28px;
      letter-spacing: 4px;
    }

    @media @breakpoint-mobile {
      font-size: 24px;
      letter-spacing: 2px;
    }
  }

  p {
    color: @text;
    font-family: @font-secondary;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; // 38.4px
    margin-bottom: 32px;

    @media @breakpoint-laptop {
      font-size: 20px;
    }

    @media @breakpoint-tablet {
      font-size: 18px;
    }

    @media @breakpoint-mobile {
      font-size: 16px;
    }
  }
}

// Универсальные стили 
.btn-group-custom {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.title-center {
  text-align: center;

  h1,
  h2,
  h3,
  p {
    margin-left: auto;
    margin-right: auto;
  }
}

// Секция с отступами и выравниванием по центру
.section-custom {
  padding: 64px 0;

  &.section-centered {
    .section-title {
      text-align: center;
    }
  }
}

.section-custom-sm {
  padding: 44px 0;
}

section {
  &.border-top {
    border-top: 1px solid var(--Primary-Medium, #D3C5B7);
  }
}

// Универсальный заголовок секции
.title-wrap {
  margin-bottom: 32px;

  a {
    color: #574853;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
  }

  h2 {
    color: @text;
    font-family: @font-primary;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; // 42px
    letter-spacing: 4.76px;
    text-transform: uppercase;
    margin-bottom: 16px;

    @media @breakpoint-tablet {
      font-size: 24px;
      letter-spacing: 3px;
    }

    @media @breakpoint-mobile {
      font-size: 20px;
      letter-spacing: 2px;
    }
  }

  p {
    color: @text;
    font-family: @font-secondary;
    font-size: 18px;
    line-height: 160%;
    margin: 0;

    @media @breakpoint-mobile {
      font-size: 16px;
    }
  }
}




.section-title {
  h1 {
    color: @text;
    font-family: @font-primary;
    font-size: 38px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; // 63px
    letter-spacing: 7.14px;
    text-transform: uppercase;
    margin-bottom: 16px;

    @media @breakpoint-laptop {
      font-size: 32px;
      letter-spacing: 5px;
    }

    @media @breakpoint-tablet {
      font-size: 28px;
      letter-spacing: 3px;
    }

    @media @breakpoint-mobile {
      font-size: 24px;
      letter-spacing: 2px;
    }
  }

  p {
    color: @text;
    font-family: @font-secondary;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; // 38.4px
    text-transform: capitalize;

    @media @breakpoint-laptop {
      font-size: 20px;
    }

    @media @breakpoint-tablet {
      font-size: 18px;
    }

    @media @breakpoint-mobile {
      font-size: 16px;
    }
  }

  // Центровка только если указано явно
  &.text-center {
    text-align: center;
  }
}





// Карточка услуги
.service-card {
  margin-bottom: 32px;

  img {
    margin-bottom: 24px;
    width: 100%;
  }

  &__info {
    h3 {
      color: @primary;
      font-family: @font-primary;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: 100%; // 24px
      letter-spacing: 1.68px;
      margin-bottom: 16px;

      a {
        color: inherit;
        text-decoration: none;
        font-weight: 400;
        line-height: 1.4;

        &:hover {
          text-decoration: none;
          opacity: .9;
        }
      }

      @media @breakpoint-mobile {
        font-size: 20px;
      }
    }

    p {
      color: @text;
      font-family: @font-secondary;
      font-size: 16px;
      line-height: 160%;
      margin-bottom: 24px;

      @media @breakpoint-mobile {
        font-size: 14px;
      }
    }
  }
}

.stats-block {
  padding: 44px 0;

  @media @breakpoint-laptop {
    padding: 32px 0;
  }

  @media @breakpoint-tablet {
    padding: 28px 0;
  }

  @media @breakpoint-mobile {
    padding: 20px 0;
  }

  .stats-item {
    text-align: center;
    padding: 32px 16px;


    .stats-block__img {
      width: 100px;
      height: 100px;
      min-width: 100px;
      border-radius: 50%;
      border: 1px solid #8D644B;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
      margin: 0 auto;
      margin-bottom: 24px;

      color: #000;
      text-align: center;
      font-family: @font-primary;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: 100%;
      /* 24px */
      letter-spacing: 5.28px;
      text-transform: uppercase;

      img {
        max-width: 80px;
        width: 34px;
        height: 34px;
        stroke-width: 1px;
        stroke: #8D644B;
      }
    }

    h2 {
      color: @text;
      font-family: @font-primary;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: 100%; // 34px
      letter-spacing: 7.48px;
      text-transform: uppercase;
      margin-bottom: 16px;

      @media @breakpoint-tablet {
        font-size: 22px;
        letter-spacing: 5px;
      }

      @media @breakpoint-mobile {
        font-size: 20px;
        letter-spacing: 3px;
      }
    }

    p {
      color: @text;
      font-family: @font-secondary;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 160%; // 28.8px
      text-transform: capitalize;

      @media @breakpoint-mobile {
        font-size: 16px;
      }
    }
  }

  &.stats-block-horizontal {

    .stats-item {


      @media @breakpoint-laptop {
        text-align: left;
        display: flex;
        gap: 16px;
        align-items: center;
      }

      .stats-block__img {
        @media @breakpoint-laptop {
          margin-bottom: 0;
        }
      }

      h2 {
        @media @breakpoint-laptop {

          font-size: 18px;
          margin-bottom: 0;
        }
      }
    }
  }
}

.features {
  display: flex;
  flex-direction: column;
  gap: 32px;

  .features-block {
    display: flex;
    gap: 24px;
    align-items: flex-start;
    width: 100%;

    &__img {
      width: 100px;
      height: 100px;
      min-width: 100px;
      border-radius: 50%;
      border: 1px solid @primary;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;

      img {
        width: 34px;
        height: 34px;
        stroke-width: 1px;
        stroke: @primary;
      }
    }

    p {
      color: @text;
      font-family: @font-secondary;
      font-size: 16px;
      line-height: 160%;
      margin: 0;

      @media @breakpoint-mobile {
        font-size: 14px;
      }
    }
  }
}

.cta-branded {
  position: relative;
  color: @primary-light;
  padding: 64px 0;
  overflow: hidden;
  color: @white;
  z-index: 0;

  .container {
    position: relative;
    z-index: 1;
    max-width: 960px;
  }

  .cta-branded-title {
    font-family: @font-primary;
    font-size: 40px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 6.8px;
    text-transform: uppercase;
    color: @primary-light;
    margin-bottom: 24px;

    @media @breakpoint-tablet {
      font-size: 32px;
      letter-spacing: 4px;
    }

    @media @breakpoint-mobile {
      font-size: 24px;
      letter-spacing: 2px;
    }
  }

  p {
    font-family: @font-secondary;
    font-size: 20px;
    font-weight: 400;
    line-height: 160%;
    text-transform: capitalize;
    color: @primary-light;
    margin-bottom: 32px;

    @media @breakpoint-mobile {
      font-size: 16px;
    }
  }

  &::after {
    content: '';
    position: absolute;
    right: 0;
    top: -40px; // прячем верхнюю часть
    width: 300px; // подбери под твой PNG
    height: 100%;
    background: url('../img/cta-logo.png') no-repeat right top;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1;

    @media @breakpoint-mobile {
      width: 180px;
      top: -30px;
    }
  }

  .container-cta {
    position: relative;
    z-index: 1;

    @media @breakpoint-desktop {
      adding-right: 50%;
    }
  }
}

.testimonial-block {
  padding: 44px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  background: @white;
  text-align: center;
  margin: 0 16px;

  .testimonial-stars {
    display: flex;
    gap: 4px;

    img {
      width: 24px;
      height: 24px;
    }
  }

  h4 {
    color: @text;
    font-family: @font-primary;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; // 24px
    letter-spacing: 1.68px;
    margin: 0;
  }

  h5 {
    color: @text;
    opacity: 0.6;
    font-family: @font-secondary;
    font-size: 16px;
    font-weight: 700;
    line-height: 100%; // 16px
    letter-spacing: 4.8px;
    text-transform: uppercase;
    margin: 0;
  }

  p {
    color: @text;
    font-family: @font-secondary;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%; // 28.8px
    text-transform: capitalize;
    border-bottom: 2px solid @primary;
    padding-bottom: 24px;
    margin: 0;
  }
}

.article-card {
  background: @white;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  margin-bottom: 24px;

  img {
    width: 100%;
  }

  .article__info {

    .title {
      font-family: @font-primary;
      font-size: 24px;
      font-weight: 400;
      line-height: 100%; // 24px
      letter-spacing: 1.68px;
      color: @primary;
      margin-bottom: 16px;

      a {
        color: inherit;
        font-weight: 400;

      }
    }

    .date {
      font-family: @font-secondary;
      font-size: 17px;
      font-weight: 700;
      line-height: 100%; // 17px
      color: @text;
      text-transform: capitalize;
      margin-bottom: 16px;
      opacity: .5;
    }

    p {
      font-family: @font-secondary;
      font-size: 18px;
      font-weight: 400;
      line-height: 180%;
      text-transform: capitalize;
      color: @text;
      margin-bottom: 24px;

      display: -webkit-box;
      -webkit-line-clamp: 3; // ограничение на 3 строки
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.branded {
  background: @text;
  color: @primary-light;
  padding: 40px;


  h2 {
    font-family: @font-primary;
    font-size: 34px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; // 42px
    letter-spacing: 8.4px;
    color: @primary-light;
    margin: 0;
    text-align: center;

    @media @breakpoint-tablet {
      font-size: 28px;
      letter-spacing: 6px;
    }

    @media @breakpoint-mobile {
      font-size: 24px;
      letter-spacing: 4px;
    }
  }


}

.site-footer {
  background: @white;
  color: @text;
  padding: 64px 0 32px;

  .footer-content {
    padding: 44px 0;
  }

  h4 {
    color: @text;
    font-family: @font-primary;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 4.76px;
    text-transform: uppercase;
    margin-bottom: 24px;
  }

  .footer-menu,
  .footer-contact {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      margin-bottom: 16px;

      a,
      span {
        color: @text;
        font-family: @font-secondary;
        font-size: 16px;
        font-weight: 500;
        line-height: 100%;
        letter-spacing: 0.64px;
        text-transform: uppercase;
        text-decoration: none;


        &:hover {
          opacity: .8;
        }
      }

      img {
        width: 16px;
        height: auto;
        margin-right: 8px;
      }
    }
  }


  .footer-social {
    border-top: 1px solid @primary-medium;
    border-bottom: 1px solid @primary-medium;
    padding: 44px 0;

    ul {
      padding: 0;
      margin: 0;

      li {
        display: inline-block;

        a {
          display: inline-flex;
          width: 40px;
          height: 40px;
          border: 1px solid @primary-medium;
          border-radius: 50%;
          align-items: center;
          justify-content: center;

          img {
            width: 32px;
            height: 32px;
          }
        }
      }
    }
  }

  .footer-bottom {
    font-family: @font-secondary;
    font-size: 14px;
    color: @text;
    gap: 16px;

    a {
      text-decoration: none;
      font-weight: 500;
      color: @text;
      text-transform: uppercase;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.block-regular {
  .row {
    flex-wrap: wrap;
  }

  &.block-regular-reverse {

    // На десктопе и планшете: картинка слева, текст справа
    @media @breakpoint-tablet-min {
      .col-lg-7 {
        order: 2; // текст справа
      }

      .block-regular-img {
        order: 1; // картинка слева
      }
    }

    // На мобиле: картинка сверху, текст снизу
    @media @breakpoint-mobile {
      .col-lg-7 {
        order: 2;
      }

      .block-regular-img {
        order: 1;
      }
    }
  }
}

.features-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr); // mobile default

  @media @breakpoint-mobile-min {
    grid-template-columns: repeat(2, 1fr); // tablet ≥768px
  }

  @media @breakpoint-tablet-min {
    grid-template-columns: repeat(3, 1fr); // desktop ≥992px
  }
}


.form-custom {
  .form-custom__title {
    color: @primary-light;
    font-family: @font-primary;
    font-size: 24px;
    font-weight: 400;
    line-height: 150%; // 36px
    letter-spacing: 4.08px;
    text-transform: uppercase;
    margin-bottom: 16px;
  }

  p {
    color: @primary-light;
    font-family: @font-secondary;
    font-size: 20px;
    font-weight: 400;
    line-height: 160%; // 32px
    text-transform: capitalize;
    margin-bottom: 32px;
  }

  .form-floating {
    position: relative;

    .form-control,
    textarea.form-control {
      background: transparent;
      border: none;
      border-radius: 0;
      border-bottom: 1px solid @primary-light;
      color: @primary-light;
      font-family: @font-secondary;
      font-size: 16px;
      font-weight: 400;
      line-height: 160%; // 25.6px
      padding: 10px 0 10px 0;



      &:focus {
        box-shadow: none;
        border-bottom-color: lighten(@primary-light, 5%);
      }
    }

    label {
      color: fade(@primary-light, 60%);
      font-size: 14px;
    }
  }

  textarea.form-control {
    resize: none;
  }

  // Button spacing
  button[type="submit"] {
    margin-left: 0;
  }
}

.form-floating {

  >.form-control:focus~label,
  >.form-control:not(:placeholder-shown)~label,
  >.form-control-plaintext~label,
  >.form-select~label {
    color: @white; // или #ffffff
    transform: scale(0.85) translateY(-0.5rem) translateX(0.15rem);
  }

  >.form-control:focus~label::after,
  >.form-control:not(:placeholder-shown)~label::after,
  >.form-control-plaintext~label::after,
  >.form-select~label::after {
    position: absolute;
    inset: 1rem 0.375rem;
    z-index: -1;
    height: 1.5em;
    content: '';
    background-color: transparent;
    border-radius: 0;
  }
}

.gallery-slider {
  .gallery-slider-block {

    padding: 0 16px;

  }
}

.faq-section {
  .faq-item {
    border-bottom: 1px solid fade(@primary, 30%);
    margin-bottom: 16px;
  }

  .faq-button {
    background: transparent !important; // убираем голубой фон при раскрытии
    box-shadow: none;
    padding-left: 0;
    color: @primary;
    font-family: @font-primary;
    font-size: 20px;
    font-weight: 400;
    line-height: 100%; // 24px
    letter-spacing: 1.68px;
    text-align: left;

    &::after {
      background-image: url("data:image/svg+xml;utf8,<svg fill='%238D644B' xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
      transition: transform 0.3s ease;
      filter: none;
    }

  }

  .faq-body {
    color: @text;
    font-family: @font-secondary;
    font-size: 18px;
    font-weight: 400;
    line-height: 160%; // 28.8px
    text-transform: capitalize;
    padding-left: 0;
  }

  .accordion-header {
    margin-bottom: 0;
  }
}



.breadcrumb-custom {
  justify-content: center;
  padding: 44px;
  padding-bottom: 0;

  .breadcrumb-custom {
    a {
      color: @primary;
      font-weight: 400;

      &:hover {
        color: @primary;
        opacity: .9;
      }
    }
  }
}

.pagination-custom {
  gap: 8px;
  padding: 44px;

  .page-item {
    .page-link {
      width: 44px;
      height: 44px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid transparent;
      border-radius: 6px;
      background: none;
      font-family: @font-secondary;
      font-size: 20px;
      font-weight: 800;
      line-height: 160%;
      color: @primary;
      transition: all 0.2s ease-in-out;
      padding: 0;

      &:hover {
        color: darken(@primary, 10%);
      }
    }

    &.active .page-link {
      color: @text;
    }

    &.disabled .page-link {
      opacity: 0.3;
      pointer-events: none;
    }
  }

  // Стрелки
  .page-link.arrow {
    border: 1px solid @primary;
    background: none;
    padding: 0;

    &::before {
      content: '';
      display: block;
      width: 25px;
      height: 24px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }

  // Левая стрелка
  .page-item:first-child .page-link.arrow::before {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='25' height='24' viewBox='0 0 25 24' fill='none'><path d='M16.5112 4.50301L9.2032 12L16.5112 19.497C16.642 19.6309 16.7153 19.8108 16.7153 19.998C16.7153 20.1853 16.642 20.3651 16.5112 20.499C16.4477 20.5639 16.3718 20.6154 16.2881 20.6506C16.2044 20.6857 16.1145 20.7039 16.0237 20.7039C15.9329 20.7039 15.843 20.6857 15.7593 20.6506C15.6756 20.6154 15.5997 20.5639 15.5362 20.499L7.7602 12.5235C7.62368 12.3834 7.54727 12.1956 7.54727 12C7.54727 11.8044 7.62368 11.6166 7.7602 11.4765L15.5347 3.50101C15.5983 3.43569 15.6743 3.38378 15.7583 3.34833C15.8423 3.31289 15.9325 3.29462 16.0237 3.29462C16.1149 3.29462 16.2051 3.31289 16.2891 3.34833C16.3731 3.38378 16.4491 3.43569 16.5127 3.50101C16.6435 3.63495 16.7168 3.81476 16.7168 4.00201C16.7168 4.18925 16.6435 4.36907 16.5127 4.50301H16.5112Z' fill='%233A3634'/></svg>");
  }

  // Правая стрелка
  .page-item:last-child .page-link.arrow::before {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='25' height='24' viewBox='0 0 25 24' fill='none'><path d='M8.4888 4.50301L15.7968 12L8.4888 19.497C8.35796 19.6309 8.2847 19.8108 8.2847 19.998C8.2847 20.1853 8.35796 20.3651 8.4888 20.499C8.55235 20.5639 8.6282 20.6154 8.71191 20.6506C8.79561 20.6857 8.8855 20.7039 8.9763 20.7039C9.0671 20.7039 9.15699 20.6857 9.2407 20.6506C9.32441 20.6154 9.40025 20.5639 9.4638 20.499L17.2398 12.5235C17.3763 12.3834 17.4527 12.1956 17.4527 12C17.4527 11.8044 17.3763 11.6166 17.2398 11.4765L9.4653 3.50101C9.40171 3.43569 9.32567 3.38378 9.24169 3.34833C9.1577 3.31289 9.06746 3.29462 8.9763 3.29462C8.88514 3.29462 8.7949 3.31289 8.71092 3.34833C8.62693 3.38378 8.55089 3.43569 8.4873 3.50101C8.35646 3.63495 8.2832 3.81476 8.2832 4.00201C8.2832 4.18925 8.35646 4.36907 8.4873 4.50301H8.4888Z' fill='%233A3634'/></svg>");
  }
}

article {
  .date {
    color: var(--Text, #3A3634);

    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    /* 17px */
    text-transform: capitalize;
    opacity: .5;
  }

  ol {
    &.list-custom {
      list-style: none;
      counter-reset: my-awesome-counter;

      li {
        counter-increment: my-awesome-counter;
        margin-bottom: 16px;
        position: relative;

        &::before {
          content: counter(my-awesome-counter) " ";
          color: @primary;
          font-weight: bold;
          border: 1px solid @primary;
          border-radius: 50%;
          width: 24px;
          display: inline-flex;
          height: 24px;
          justify-content: center;
          align-items: center;
          margin-right: 12px;
          position: absolute;
          left: -32px;
          top: 3px;
        }
      }
    }
  }

  ul {
    &.list-custom {

      list-style: none;
      margin-bottom: 16px;
      padding-left: 16px;
      margin-left: 16px;


      li {
        list-style-image: none;
        margin-bottom: 16px;
        position: relative;

        &::before {
          content: url(../img/check.svg);
          border: 1px solid @primary;
          border-radius: 50%;




          width: 24px;
          display: inline-flex;
          height: 24px;
          justify-content: center;
          align-items: center;
          margin-right: 12px;
          vertical-align: middle;
          position: absolute;
          left: -32px;
          top: 3px;
        }

      }
    }
  }
}

blockquote {
  margin: 24px 0;
  color: @primary;

  font-size: 20px;
  font-style: italic;
  font-weight: 500;
  line-height: 180%;
  /* 36px */
  border-left: 4px solid;
  border-color: @primary;
  padding-left: 32px;
}

.blog-info {
  border-top: 1px solid var(--Primary-Medium, #D3C5B7);
  padding: 44px;
  margin-top: 24px;
}

.blog-share {
  display: flex;
  align-items: baseline;
  gap: 8px;

  h4 {
    color: @primary;
    margin-bottom: 0;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
    /* 35.2px */
    text-transform: uppercase;
  }
}

.blog-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 16px; // расстояние между тегами
  margin: 24px 0;

  .tag-item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 12px;
    border: 1px solid @primary;
    border-radius: 6px;
    font-family: @font-secondary;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    color: @primary;
    text-decoration: none;
    text-align: center;
    transition: all 0.3s ease;

    &:hover {
      background-color: fade(@primary, 10%);
    }
  }
}

.blog-share {
  display: flex;
  align-items: center;
  gap: 8px;



  h4 {
    color: @text;
    margin-bottom: 0;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
    /* 35.2px */
    text-transform: uppercase;
  }
}

.blog-social-icons {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-bottom: 0;

  li {
    background-color: @white;
    border: 1px solid @text;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-bottom: 0;

    &:hover {
      opacity: .9;
    }

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
    }
  }
}




.error-section {
  width: 100%;
  height: 100vh;
  background: url('../img/error-logo.png') no-repeat top center;
  background-size: contain;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;

  .error-body {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    max-width: 600px;
    padding: 0 16px;
    min-width: 80%;

    p {
      color: @primary;
      font-family: @font-secondary;
      font-size: 24px;
      font-weight: 500;
      line-height: 140%;
      margin-bottom: 24px;
    }

    .btn {
      text-transform: uppercase;
    }
  }
}


.contact-block {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    margin-bottom: 16px;

    a,
    span {
      color: @white;
      font-family: @font-secondary;
      font-size: 16px;
      font-weight: 500;
      line-height: 100%;
      letter-spacing: 0.64px;
      text-transform: uppercase;
      text-decoration: none;


      &:hover {
        opacity: .8;
      }
    }

    img {
      width: 16px;
      height: auto;
      margin-right: 8px;
    }
  }
}